<div class="container">
<header >
    <p>
        
    </p>
</header>
    <div class="row">

        <div class="col-md-4">

            <input type="text" class="from-control" placeholder="Name" [(ngModel)]="course.Name"#nameModel="ngModel" required minlength="2">
            <div *ngIf="nameModel.errors?.required.touched" style="color:red"> Required</div>
            <div *ngIf="nameModel.errors?.minlength" style="color: red"> Needs to be at least 2 characters</div>
        </div>
        
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Credit" [(ngModel)]="course.Credit"#creditModel="ngModel" required minlenght="2">
            <div *ngIf="creditModel.errors?.required.touched" style="color:red"> Required</div>
        
        </div>
    </div>

         <br/>
        <div class="row">
            <div class="col-md-4">

                <input type="text" class="from-control" placeholder="PreReqId" [(ngModel)]="course.PreReqId" #prereqidModel="ngModel" required >
                <div *ngIf="prereqidModel.errors?.required.touched" style="color:red"> Required</div>

            </div>
            <div class="col-md-4">
             <input type="text" class="from-control" placeholder="Cost" [(ngModel)]="course.Cost"> 
            </div>

        </div>
        <br/>
        <div class="row">
         <div class="col-md-4">
            <button type="button" class="btn btn-success" (click)="createCourse()" [disabled]="!nameModel.valid|| !creditModel.valid ||!prereqidModel.valid">Save</button>

         </div>

        </div>

    </div>
