<div class="container">

    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="FirstName">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="LastName">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Age">
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="UserId">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Email">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Address">
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder=" PhoneNumbers">
        </div>


    </div>
    <br>
    <div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-success">Save</button>

    </div>

    </div>



</div>





























