<div class="container">

    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="FirstName"[(ngModel)]="employee.FirstName">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="LastName"[(ngModel)]="employee.LastName">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Age"[(ngModel)]="employee.Age">
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="UserId"[(ngModel)]="employee.UserId">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Email"[(ngModel)]="employee.Email">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Address"[(ngModel)]="employee.Address.Addr1">
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder=" PhoneNumbers"[(ngModel)]="employee.PhoneNumbers[0]">
        </div>


    </div>
    <br>
    <div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-success"(click)="createEmployee()">Save</button>

    </div>

    </div>



</div>





























