<div class="container">
    <div class="row">

        <div class="col-md-4">
            <p class="specialP" > Please fill out this form to create a student.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <input type="text" class="from-control" placeholder="First name" [(ngModel)]="student.FirstName">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Last name" [(ngModel)]="student.LastName">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Age" [(ngModel)]="student.Age">
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Address" [(ngModel)]="student.Address.Addr1">
            
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="State" [(ngModel)]="student.Address.State">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="City" [(ngModel)]="student.Address.City">
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Zip" [(ngModel)]="student.Address.Zip">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Phone" [(ngModel)]="student.PhoneNumbers[0]">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="E-mail"  [(ngModel)]="student.Email">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-success" (click)="createStudent()">Save</button>

        </div>

    </div>




</div>


















 

       




