<div class="container">
    <div class="row">
        <div class="col-md-4">

            <input type="text"  class="from-control"  placeholder="First name">
        </div>
        
            <div class="col-md-4"> 
            <input type="text" class="from-control"  placeholder="Last name">
        </div>

        <div class="col-md-4"> 
            <input type="text" class="from-control"  placeholder="Age">
        </div>
    
    <div class="row">
        <div class="col-md-4"> 
            <input type="text"class="from-control"  placeholder="Address">
        </div>
        
        <div class="col-md-4"> 
            <input type="text" class="from-control"  placeholder="City">
        </div>
    
        <div class="col-md-4"> 
            <input type="text" class="from-control"  placeholder="State">
        </div>
        <div class="row">
        <div class="col-md-4"> 
            <input type="text" class="from-control"  placeholder="Zip">
        </div>
        <div class="col-md-4"> 
            <input type="text" class="from-control"  placeholder="Phone">
        </div>
        <div class="col-md-4"> 
            <input type="text" class="from-control"  placeholder="E-mail">
        </div>
    </div>
 