<div class="container">

  <p> </p>

  <table class="listTable">
    <tr>
      <th>Student Id</th>
      <th>Student First Name</th>
      <th>Student Last Name</th>
      <th>Student Age</th>
      <th>Student Address</th>
      <th>Student State</th>
      <th>Student City</th>
      <th>Student Zip</th>
      <th>Student Phone</th>
      <th>Student Email</th>
      <th>Remove</th>
     

    </tr>
    <tr *ngFor="let st of Students ">
      <td>{{st.Id}}</td>
      <td>{{st.FirstName}}</td>
      <td>{{st.lastName}}</td>
      <td>{{st.age}}</td>
      <td>{{st.address.addr1}}</td>
      <td>{{st.address.state}}</td>
      <td>{{st.address.city}}</td>
      <td>{{st.address.zip}}</td>
      <td>{{st.phoneNumbers}}</td>
      <td>{{st.email}}</td>
      <td><button type="button" class="btn btn-danger"(click)="removeStudent(st.id)">Remove</button></td>


    </tr>

  </table>
</div>