<div class="container">

  <p><button type="button"  class="btn btn-danger" click="removeMany(student[])">RemoveSelected</button> </p>

  <table class="listTable">
    <tr>
      <th>Student Id</th>
      <th>Student First Name</th>
      <th>Student Last Name</th>
      <th>Student Age</th>
      <th>Student Address</th>
      <th>Student State</th>
      <th>Student City</th>
      <th>Student Zip</th>
      <th>Student Phone</th>
      <th>Student Email</th>
      <th>Remove</th>
      <th>Update</th>

    </tr>
    <tr *ngFor="let st of Students ">
      <td>{{st.Id}}</td>
      <td>{{st.FirstName}}</td>
      
      <td>{{st.LastName}}</td>
      <td>{{st.Age}}</td>
      <td>{{st.Address.Addr1}}</td>
      <td>{{st.Address.State}}</td>
      <td>{{st.Address.City}}</td>
      <td>{{st.Address.Zip}}</td>
      <td>{{st.PhoneNumbers}}</td>
      <td>{{st.Email}}</td>
      <td><input type="checkbox" name="st.Id" checked=" removeManyStudents(st.id)"></td>
      <td><button type="button"  class="btn btn-danger" (click)="showUpdateModal(st.Id)">Update</button></td>

    </tr>

  </table>
</div>


<button type="button" [style.visibility]="'hidden'" id="openUpdateModalButton" class="btn btn-primary"
data-toggle="modal" data-target="#updateModal">
</button>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit student information</h5>

      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4">
          
            <input type="text" class="form-control" placeholder="FirstName" [(ngModel)]=" StudentToUpdate.FirstName"/>
         

          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="LastName" [(ngModel)]=" StudentToUpdate.LastName"/>

          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="" [(ngModel)]=" StudentToUpdate.Age" />
          </div>

          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Address"
              [(ngModel)]=" StudentToUpdate.Address.Addr1" />
          </div>

          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="State"
              [(ngModel)]=" StudentToUpdate.Address.State" />
          </div>

          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="City"
              [(ngModel)]=" StudentToUpdate.Address.City" />
          </div>
          <div class="col-xs-4">
          
            <input type="text" class="form-control" placeholder="Zip" [(ngModel)]=" StudentToUpdate.Address.Zip" />
          </div>

          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="PhoneNumber"
              [(ngModel)]=" StudentToUpdate.PhoneNumbers" />
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="StudentToUpdate.Email" />
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="updateStudent()">Save</button>

      </div>
    </div>
  </div>
</div>