<div class=container>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="First Name" [(ngModel)]="instructor.FirstName"#firstNameModel="ngModel" required minlength="2">
            <div *ngIf="firstNameModel.errors?.required.touched" style="color: red">Required</div>
            <div *ngIf="firstNameModel.errors?.minlength" style="color:red">Needs to be at least 2 characters</div>
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Last Name" [(ngModel)]=instructor.LastName #lastNameModel="ngModel" required>
            <div *ngIf="lastNameModel.errors?.required.touched" style="color: red">Required</div>
            <div *ngIf="lastNameModel.errors?.minlength" style="color:red">Needs to be at least 2 characters</div>
           
        </div>
       

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="Address" [(ngModel)]="instructor.Address.Addr1">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="PhoneNumber" [(ngModel)]="instructor.PhoneNumber[0]">
        </div>
        <div class="col-md-4">
            <input type="text" class="from-control" placeholder="E-mail" [(ngModel)]="instructor.Email" #emailModel="ngModel"  email required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <div *ngIf="emailModel.errors?.required && emailModel.touched" style="color:red"> Required</div>
            <div *ngIf="emailModel.errors && emailModel?.errors.pattern &&emailModel.touched" style="color: red">
                <span>email is not in valid format</span>
                

        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-success" (click)="createInstrutor()" 
            [disabled]="
            !firstNameModel.valid||
            !lastNameModel.valid||
            !emailModel.valid">Save</button>
        </div>


    </div>

</div>