<div class="container">

    <p>test branch</p>
    <p>{{Title}}</p>
    <p>{{MyCar.Model}}</p>
   
    <table class="listTable" >
        <tr>
         
          <th>Instructor First Name</th>
          <th>Instructor Last Name</th>
          <th>Instructor Age</th>
        </tr>
        <tr *ngFor="let inst of Instructors">
          <td>{{inst.firstName}}</td>
          <td>{{inst.lastName}}</td>
          <td>{{inst.age}}</td>
        </tr>
      
      </table>
   <br/>
      <button class="btn btn-lg btn-outline-primary" (click)="openModal()">Launch demo modal</button>
</div>
